@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/variables.scss' as *;

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  background-color: $grey;

  &__header {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__title {
    font-size: 2.5rem;

    @media (min-width: 48rem) {
      font-size: 3rem;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__fieldset {
    width: 100%;
    max-width: 31.25rem;
    background-color: $white;
    padding: 2rem;
    border: none;
    border-radius: $border-radius;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.05);
  }

  &__legend {
    @include mixins.visually-hidden;
  }
  
  &__form-group {
    position: relative;
    padding: 1rem 0 0;
    margin-top: 0.625rem;
  }
  
  &__input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 0.125rem solid $color-primary;
    outline: 0;
    font-size: 1.3rem;
    padding: 0.5rem 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .home__label {
      font-size: 1.3rem;
      cursor: text;
      top: 1.25rem;
    }

    &--alert {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      color: $color-danger;
      border-radius: $border-radius;
    }
  }
  
  &__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $color-primary;
  }
  
  &__input:focus {
    ~ .home__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $color-primary;
      font-weight:600;
      background-color: transparent;
      outline: none;
      box-shadow: none;
    }
    padding-bottom: 0.375rem;  
    font-weight: 600;
    border-width: 0.2rem;
    border-image: linear-gradient(to right, $color-primary,$color-secondary);
    border-image-slice: 1;
  }

  &__input{
    &:required,&:invalid { box-shadow:none; }
  }
}
