// Variables
$color-primary: #db7a50;
$color-secondary: #c98b52;
$color-primary-hover: #d16d42;
$color-success: #329d1a;
$color-danger: #dc3545;
$color-disabled: #cfad9d;
$color-muted: #e9ecef;
$color-light: #f8f9fa;
$color-border: #ccc;
$white: #fff;
$black: #000;
$grey: #f1f3f5;
$input-border: #ccc;

$border-radius: 6px;
$transition: 0.3s ease;

// select
$arrow-bg: rgba(255, 255, 255, 0.3);
$arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Caret_down_font_awesome.svg);
$option-bg: white;
$select-bg: rgba(255, 255, 255, 0.2);
